<!-- Example Table of admins -->
<div class="search-container">
  <div class="search-container">
    <input 
      type="text" 
      class="search-input" 
      id="searchBox" 
      placeholder="Search" 
      oninput="liveSearch(this.value)">
  </div>
      
</div>

<table id="mainTable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <% admins.forEach(admin => { %>
      <tr class="editable-row" 
          data-id="<%= admin.contact_id %>" 
          data-email="<%= admin.email %>"
          data-first-name="<%= admin.first_name %>"
          data-last-name="<%= admin.last_name %>"
          data-entity="admin">
        <td><%= admin.first_name + ' ' + admin.last_name %></td>
        <td><%= admin.email %></td>
      </tr>
    <% }) %>
  </tbody>
</table>

<!-- Modal Template -->
<%- include('../components/modal', {
  title: 'Edit Admin',
  formAction: '/update-admin',
  body: `
      <div class="input-field">
        <input id="entity-first-name" type="text" name="firstName" placeholder="First Name">
        <label for="entity-first-name"></label>
      </div>
      <div class="input-field">
        <input id="entity-last-name" type="text" name="lastName" placeholder="Last Name">
        <label for="entity-last-name"></label>
      </div>
      <div class="input-field">
        <input id="entity-email" type="email" name="email" placeholder="Email">
        <label for="entity-email"></label>
      </div>
  `
}) %>
