<p>Events <%= status %>: <%= events.length %></p>

<div class="search-container">
  <div class="search-container">
    <input 
      type="text" 
      class="search-input" 
      id="searchBox" 
      placeholder="Search" 
      oninput="liveSearch(this.value)">
  </div>
</div>


<!-- Buttons to filter by status -->
<div class="eventBtnContainer">
    <a href="/events?status=not_approved" class="eventBtn">Not Approved</a>
    <a href="/events?status=pending" class="eventBtn">Pending</a>
    <a href="/events?status=approved" class="eventBtn">Approved</a>
    <a href="/events?status=finished" class="eventBtn">Finished</a>
</div>

<script>

  function formatDate(dateString) {
    if (!dateString) return ''; // Handle empty or undefined dates
    const date = new Date(dateString);
    const options = { 
      weekday: 'long', 
      year: 'numeric', 
      month: 'long', 
      day: 'numeric', 
      hour: 'numeric', 
      minute: 'numeric' 
    };
    return date.toLocaleString('en-US', options);
  }
</script>


<table id="mainTable">
  <thead>
    <% if (status === 'finished') { %>
      <!-- Columns for executed_events -->
      <tr>
        <th>Actual Start Date</th>
        <th>Actual Start Time</th>
        <th>Organization</th>
        <th>Actual Duration</th>
        <th>Actual Number of People</th>
        <th>Type Description</th> 
        <th>Pockets</th>
        <th>Collars</th>
        <th>Envelopes</th>
        <th>Vests</th>
        <th>Items Completed</th>
        <th>Actual End Date</th>
      </tr>
    <% } else { %>
      <!-- Columns for requested_events -->
      <tr>
        <th style="padding-right: 11%;">Estimated Date</th>
        <th>Organization</th>
        <th>Contact Name</th>
        <th>Phone</th>
        <th>Street Address</th>
        <th>Location</th>
        <th>Estimated Start Time</th>
        <th>Estimated Duration</th>
        <th>Type Description</th> 
        <th>Location Size</th>
        <th>Estimated Number of Adults</th>
        <th>Estimated Number of Youth</th>
        <th>Estimated Number of Children</th>
        <th>Number of Machines</th>
        <th>Share Story</th>
        <th>Story Minutes</th>
        <th>Number of Tables</th>
        <th>Table Shape</th>
        <th>Additional Notes</th>
      </tr>
    <% } %>
  </thead>
  <tbody>
    <% events.forEach(event => { %>
      <tr class="editable-row"
          data-id="<%= event.event_id %>"
          data-first-name="<%= event.first_name %>"
          data-last-name="<%= event.last_name %>"
          data-organization="<%= event.organization %>"
          data-entity="events"
          data-date="event.actual-start-time">
        <% if (status === 'finished') { %>
          <!-- Display columns for executed_events -->
          <td><script>document.write(formatDate('<%= event.actual_start_date %>'))</script></td>
          <td><%= event.actual_start_time %></td>
          <td><%= event.organization %></td>
          <td><%= event.actual_duration %></td>
          <td><%= event.actual_num_people %></td>
          <td><%= event.type_description %></td>
          <td><%= event.pockets %></td>
          <td><%= event.collars %></td>
          <td><%= event.envelopes %></td>
          <td><%= event.vests %></td>
          <td><%= event.items_completed %></td>
          <td><script>document.write(formatDate('<%= event.actual_end_date %>'))</script></td>
          <% } else { %>
          <!-- Display columns for requested_events -->
          <td><script>document.write(formatDate('<%= event.estimated_date %>'))</script></td>
          <td><%=event.organization %></td>
          <td><%= event.first_name %> <%= event.last_name %></td>
          <td><%= event.phone %></td>
          <td><%= event.street_address %></td>
          <td><%= event.city %>, <%= event.state %> <%= event.zip %></td>
          <td><%= event.estimated_start_time %></td>
          <td><%= event.estimated_duration %></td>
          <td><%= event.type_description %></td>
          <td><%= event.size_description %></td>
          <td><%= event.estimated_num_adults %></td>
          <td><%= event.estimated_num_youth %></td>
          <td><%= event.estimated_num_children %></td>
          <td><%= event.num_machines %></td>
          <td><%= event.share_story %></td>
          <td><%= event.story_minutes %></td>
          <td><%= event.num_tables %></td>
          <td><%= event.shape_description %></td>
          <td><%= event.additional_notes %></td>
        <% } %>
      </tr>
    <% }) %>
  </tbody>
  
</table>
</body>
</html>




<!-- Modal Template -->
<%- include('../components/modal', { 
  title: 'Edit Event', 
  deleteAction: '',
  formAction: '/update-event', 
  body: `
  <div class="modal-content">
    <!-- First Name -->
    <div class="input-field">
      <input id="entity-first-name" type="text" name="firstName" placeholder="First Name">
    </div>
  
    <!-- Last Name -->
    <div class="input-field">
      <input id="entity-last-name" type="text" name="lastName" placeholder="Last Name">
    </div>
  
    <!-- Email -->
    <div class="input-field">
      <input id="entity-email" type="email" name="email" placeholder="Email">
    </div>
  
    <!-- Status Dropdown -->
    <div class="input-field">
      <select id="status" name="status">
        <option value="requested">Requested</option>

      </select>
    </div>
  
    <!-- Type Description Dropdown -->
    <div class="input-field">
      <select id="type-description" name="type-description">
        <option value="corporate">Corporate</option>
        <option value="community">Community</option>
        <option value="non-profit">Non-Profit</option>
        <option value="social">Social</option>
      </select>
    </div>
  
    <!-- Finished Event Fields (Only for finished status) -->
      <!-- Actual Start Date -->
      <div class="input-field">
        <input id="actual-start-date" type="date" name="actualStartDate" placeholder="Start Date">
      </div>
  
      <!-- Actual Start Time -->
      <div class="input-field">
        <input id="actual-start-time" type="time" name="actualStartTime" placeholder="Start Time">
      </div>
  
      <!-- Actual Duration -->
      <div class="input-field">
        <input id="actual-duration" type="text" name="actualDuration" placeholder="Duration">
      </div>
  
      <!-- Actual Number of People -->
      <div class="input-field">
        <input id="actual-num-people" type="number" name="actualNumPeople" placeholder="Number of People">
      </div>
  
      <!-- Actual Pockets -->
      <div class="input-field">
        <input id="pockets" type="number" name="pockets" placeholder="Pockets">
      </div>
  
      <!-- Actual Collars -->
      <div class="input-field">
        <input id="collars" type="number" name="collars" placeholder="Collars">
      </div>
  
      <!-- Actual Envelopes -->
      <div class="input-field">
        <input id="envelopes" type="number" name="envelopes" placeholder="Envelopes">
      </div>
  
      <!-- Actual Vests -->
      <div class="input-field">
        <input id="vests" type="number" name="vests" placeholder="Vests">
      </div>
  
      <!-- Actual Items Completed -->
      <div class="input-field">
        <input id="items-completed" type="number" name="itemsCompleted" placeholder="Items Completed">
      </div>
  
      <!-- Actual End Date -->
      <div class="input-field">
        <input id="actual-end-date" type="date" name="actualEndDate" placeholder="End Date">
      </div>
  
    <!-- Requested Event Fields (Only for requested status) -->
    <div id="requested-fields" style="display:none;">
      <!-- Estimated Date -->
      <div class="input-field">
        <input id="estimated-date" type="date" name="estimatedDate" placeholder="Estimated Date">
      </div>
  
      <!-- Estimated Start Time -->
      <div class="input-field">
        <input id="estimated-start-time" type="time" name="estimatedStartTime" placeholder="Start Time">
      </div>
  
      <!-- Estimated Duration -->
      <div class="input-field">
        <input id="estimated-duration" type="text" name="estimatedDuration" placeholder="Duration">
      </div>
  
      <!-- Full Name -->
      <div class="input-field">
        <input id="full-name" type="text" name="fullName" placeholder="Full Name">
      </div>
  
      <!-- Phone -->
      <div class="input-field">
        <input id="phone" type="text" name="phone" placeholder="Phone">
      </div>
  
      <!-- Address -->
      <div class="input-field">
        <input id="address" type="text" name="address" placeholder="Street Address">
      </div>
  
      <!-- City, State, Zip -->
      <div class="input-field">
        <input id="city-state-zip" type="text" name="cityStateZip" placeholder="City, State, Zip">
      </div>
  
      <!-- Location Size -->
      <div class="input-field">
        <input id="loc-size" type="text" name="locSize" placeholder="Location Size">
      </div>
  
      <!-- Estimated Number of Adults -->
      <div class="input-field">
        <input id="estimated-num-adults" type="number" name="estimatedNumAdults" placeholder="Number of Adults">
      </div>
  
      <!-- Estimated Number of Youth -->
      <div class="input-field">
        <input id="estimated-num-youth" type="number" name="estimatedNumYouth" placeholder="Number of Youth">
      </div>
  
      <!-- Estimated Number of Children -->
      <div class="input-field">
        <input id="estimated-num-children" type="number" name="estimatedNumChildren" placeholder="Number of Children">
      </div>
  
      <!-- Number of Machines -->
      <div class="input-field">
        <input id="num-machines" type="number" name="numMachines" placeholder="Number of Machines">
      </div>
  
      <!-- Share Story -->
      <div class="input-field">
        <input id="share-story" type="text" name="shareStory" placeholder="Share Story">
      </div>
  
      <!-- Story Minutes -->
      <div class="input-field">
        <input id="story-minutes" type="number" name="storyMinutes" placeholder="Story Minutes">
      </div>
  
      <!-- Number of Tables -->
      <div class="input-field">
        <input id="num-tables" type="number" name="numTables" placeholder="Number of Tables">
      </div>
  
      <!-- Table Shape -->
      <div class="input-field">
        <input id="table-shape" type="text" name="tableShape" placeholder="Table Shape">
      </div>
    </div>
  </div>
    
    <!-- Share Story (Requested Event) -->
  <div class="input-field">
    <input id="share-story" type="text" name="shareStory" placeholder="Share Story">
  </div>

  <!-- Story Minutes (Requested Event) -->
  <div class="input-field">
    <input id="story-minutes" type="number" name="storyMinutes" placeholder="Story Minutes">
  </div>

  <!-- Number of Tables (Requested Event) -->
  <div class="input-field">
    <input id="num-tables" type="number" name="numTables" placeholder="Number of Tables">
  </div>

  <!-- Table Shape (Requested Event) -->
  <div class="input-field">
    <input id="table-shape" type="text" name="tableShape" placeholder="Table Shape">
  </div>

  <!-- Additional Notes (Requested Event) -->
  <div class="input-field">
    <textarea id="additional-notes" name="additionalNotes" class="materialize-textarea" placeholder="Additional Notes"></textarea>
    <label for="additional-notes">Additional Notes</label>
  </div>  

  <script>


</script>
  `
}) %>