<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>title</title>
  <style>
    table {
      width: 100%;
      border-collapse: collapse;
      margin: 20px 0;
    }
    table, th, td {
      border: 1px solid #ddd;
    }
    th, td {
      padding: 10px;
      text-align: left;
    }
    th {
      background-color: #f4f4f4;
    }
  </style>
</head>
<body>
  <h1>Executed Events</h1>
  <table>
    <thead>
      <tr>
        <th>Actual Start Date</th>
        <th>Actual Start Time</th>
        <th>Actual Duration</th>
        <th>Actual Number of People</th>
        <th>Actual Type</th>
        <th>Pockets</th>
        <th>Collars</th>
        <th>Envelopes</th>
        <th>Vests</th>
        <th>Items Completed</th>
        <th>Actual End Date</th>
      </tr>
    </thead>
    <tbody>
      <% events.forEach(event => { %>
        <tr>
          <td><%= event.actual_start_date %></td>
          <td><%= event.actual_start_time %></td>
          <td><%= event.actual_duration %></td>
          <td><%= event.actual_num_people %></td>
          <td><%= event.actual_type %></td>
          <td><%= event.pockets %></td>
          <td><%= event.collars %></td>
          <td><%= event.envelopes %></td>
          <td><%= event.vests %></td>
          <td><%= event.items_completed %></td>
          <td><%= event.actual_end_date %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</body>
</html>



<!-- Modal Template -->
<%- include('../components/modal', {
  title: 'Edit User',
  formAction: '/update-user',
  body: `
      <div class="input-field">
        <input id="entity-first-name" type="text" name="firstName" placeholder="First Name">
        <label for="entity-first-name"></label>
      </div>
      <div class="input-field">
        <input id="entity-last-name" type="text" name="lastName" placeholder="Last Name">
        <label for="entity-last-name"></label>
      </div>
      <div class="input-field">
        <input id="entity-email" type="email" name="email" placeholder="Email">
        <label for="entity-email"></label>
      </div>
  `
}) %>
