<!-- Example Table of Users -->
<h2><%= title %></h2>
<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Primary Contact</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Street Address</th>
      <th>Location</th>
      <th>Start Time</th>
      <th>Est. Duration</th>
      <th>Requested Type</th>
      <th>Est. # of Participants</th>
      <th>Est. # of Adults</th>
      <th>Est. # of Youth</th>
      <th>Est. # of Children</th>
      <th>Est. # Machines</th>
      <th>Share Jen's Story</th>
      <th>Requested length</th>
      <th>Additional Notes</th>



    </tr>
  </thead>
  <tbody>
    <% events.forEach(event => { %>
      <tr class="editable-row" 
          data-id="<%= event.contact_id %>" 
          data-date="<%= event.estimated_date %>"
          data-first-name = "<%= event.first_name %>"
          data-phone = "<%= event.phone %>"
          data-entity="event">
        <td><%= event.estimated_date %></td>
        <td><%= event.first_name %></td>
        <td><%= event.phone%></td>
        <td>
          <!-- You can remove the Edit button here, as the row itself is clickable -->
        </td>
      </tr>
    <% }) %>
  </tbody>
</table>

<!-- Modal Template -->
<%- include('../components/modal', {
  title: 'Edit User',
  formAction: '/update-user',
  body: `
      <div class="input-field">
        <input id="entity-first-name" type="text" name="firstName" placeholder="First Name">
        <label for="entity-first-name"></label>
      </div>
      <div class="input-field">
        <input id="entity-last-name" type="text" name="lastName" placeholder="Last Name">
        <label for="entity-last-name"></label>
      </div>
      <div class="input-field">
        <input id="entity-email" type="email" name="email" placeholder="Email">
        <label for="entity-email"></label>
      </div>
  `
}) %>
