<!-- Example Table of team_members -->
<!-- Single search bar -->
<div class="search-container">
  <input 
    type="text" 
    id="searchBox" 
    placeholder="Search" 
    oninput="liveSearch(this.value)">
</div>

<div id="searchResults"></div>

<table id="mainTable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Sewing Level</th>
      <th>Hours Willing</th>
    </tr>
  </thead>
  <tbody>
    <% if (typeof team_members !== 'undefined' && team_members && team_members.length > 0) { %>
      <% team_members.forEach(team_member => {%>
        <tr class="editable-row"
          data-id="<%= team_member.contact_id %>"
          data-first-name="<%= team_member.first_name %>"
          data-last-name="<%= team_member.last_name %>"
          data-email="<%= team_member.email %>"
          data-phone="<%= team_member.phone %>"
          data-sewing-level="<%= team_member.sewing_level %>"
          data-hours-willing="<%= team_member.hours_willing %>"
          data-entity = "team_member"
        >
          <td><%= team_member.first_name %> <%= team_member.last_name %></td>
          <td><%= team_member.email %></td>
          <td><%= team_member.phone || 'Not Set' %></td>
          <td><%= team_member.level_description || 'Not Set' %></td>
          <td><%= team_member.hours_willing || 'Not Set' %></td>
        </tr>
      <% }); %>
    <% } else { %>
      <tr>
        <td colspan="5">No Team Members found</td>
      </tr>
    <% } %>
  </tbody>
</table>


<!-- Modal Template -->
<%- include('../components/modal', {
  title: 'Edit Team Members',
  formAction: '/update-team_member',
  body: `
  <div class="input-field">
    <input id="entity-first-name" type="text" name="firstName" placeholder="First Name" required>
    <label for="entity-first-name"></label>
  </div>
  <div class="input-field">
    <input id="entity-last-name" type="text" name="lastName" placeholder="Last Name" required>
    <label for="entity-last-name"></label>
  </div>
  <div class="input-field">
    <input id="entity-email" type="email" name="email" placeholder="Email" required>
    <label for="entity-email"></label>
  </div>
  <div class="input-field">
    <input id="entity-phone" type="tel" name="phone" placeholder="Phone">
    <label for="entity-phone"></label>
  </div>
  <div class="input-field">
    <input id="entity-sewing-level" type="text" name="sewingLevel" placeholder="Sewing Level">
    <label for="entity-sewing-level"></label>
  </div>
  <div class="input-field">
    <input id="entity-hours-willing" type="number" name="hoursWilling" placeholder="Hours Willing per Month">
    <label for="entity-hours-willing"></label>
  </div>
  
  `
}) %>