I think we replace this with the search user route, find .js and .ejs file for this
<form action="/searchUser" method="GET">
  <label>First Name:</label>
  <br><br>
  
  <!-- This ensures that the js is called along with postgres -->
  <input type="text" id="searchName" name="searchName">
  <br><br>
  <!-- This makes the submit button -->
  <button type="submit">Search</button>

  <label>Last Name:</label>
  <br><br>
  <input type="text" id="searchName" name="searchName">
  <br><br>
  <!-- This makes the submit button -->
  <button type="submit">Search</button>

</form>
<br><br>
<br><br>
<!-- A table is made with all of the pokemon and their data -->
<table border="1" cellpadding="10" cellspacing="0">
  <thead>
      <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Phone</th>
          <th>Email</th>
          <th>Location ID</th>
          <th>Sewing Level</th>
      </tr>
  </thead>
  <tbody>
      <!-- This grabs the data in a for loop to go through each pokemon -->
      <% for (let iCount = 0; iCount < users.length; iCount++) { %>
      <tr>
          <!-- This grabs the id, description and total points from postgres -->
          <td><%= uers[iCount].first_name %></td>
          <td><%= users[iCount].last_name %></td>
          <td><%= users[iCount].phone %></td>
          <td><%= users[iCount].email %></td>
          <td><%= users[iCount].location_id %></td>
          <td><%= users[iCount].sewing_level %></td>

          <td>
              <!-- This uses the route to update each specific pokemon -->
              <!-- <form action="/updatePoke/<%= pokemon[iCount].id %>" method="POST">
                  <button type="submit">Edit</button>
              </form> -->
          </td>
          <td>
              <!-- The route is used to grab the id of the pokemon to delete it -->
              <!-- <form action="/deletePoke/<%= pokemon[iCount].id %>" method="POST">
                  <button type="submit">Delete</button>
              </form> -->
          </td>
      </tr>
      <% } %>
  </tbody>
</table>
<br><br>
<!-- The route to add a pokemon is used  -->
<!-- <form action="/addPoke" method="GET">
  <button type="submit">Add</button> -->
</form>
</body>
</html>