<!-- Example Table of Users -->
<h2><%= title %></h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <% users.forEach(user => { %>
      <tr class="editable-row" 
          data-id="<%= user.contact_id %>" 
          data-email="<%= user.email %>"
          data-first-name="<%= user.first_name %>"
          data-last-name="<%= user.last_name %>"
          data-entity="user">
        <td><%= user.first_name + ' ' + user.last_name %></td>
        <td><%= user.email %></td>
        <td>
          <!-- You can remove the Edit button here, as the row itself is clickable -->
        </td>
      </tr>
    <% }) %>
  </tbody>
</table>

<!-- Modal Template -->
<%- include('../components/modal', {
  title: 'Edit User',
  formAction: '/update-user',
  body: `
      <div class="input-field">
        <input id="entity-first-name" type="text" name="firstName" placeholder="First Name">
        <label for="entity-first-name"></label>
      </div>
      <div class="input-field">
        <input id="entity-last-name" type="text" name="lastName" placeholder="Last Name">
        <label for="entity-last-name"></label>
      </div>
      <div class="input-field">
        <input id="entity-email" type="email" name="email" placeholder="Email">
        <label for="entity-email"></label>
      </div>
  `
}) %>
